@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}

:root {
  --toastify-color-light: transparent !important;
  --toastify-color-dark: transparent !important;
  --toastify-toast-width: auto !important;
  --toastify-toast-max-height: auto !important;
  --toastify-toast-min-height: auto !important;
}

.Toastify__toast-container {
  z-index: var(--toastify-z-index);
  -webkit-transform: translate3d(0, 0, var(--toastify-z-index) px);
  position: fixed;
  width: var(--toastify-toast-width);
  box-sizing: border-box;
}

.Toastify__toast {
  position: relative;
  min-height: var(--toastify-toast-min-height);
  box-sizing: border-box;
  margin-bottom: 0 !important;
  padding: 7px 7px !important;
  padding-bottom: 10px !important;
  border-radius: 6px !important;
  box-shadow: none !important;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-height: var(--toastify-toast-max-height);
  overflow: hidden !important;
  font-family: var(--toastify-font-family);
  cursor: pointer;
  direction: ltr;
}

.Toastify__toast-body {
  margin: auto 0;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 0 !important;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}

.white-tooltip.p-tooltip .p-tooltip-arrow {
  @apply text-white border-transparent;
}
.white-tooltip.p-tooltip .p-tooltip-text {
  @apply bg-white;
}

.white-rating.p-rating .p-rating-icon.pi-star-fill {
  @apply text-gray-500;
}

.s_toast {
  @apply relative border w-[350px] max-h-[135px] z-50 rounded-lg bg-white bg-opacity-90 dark:bg-opacity-80 dark:bg-gray-800 dark:text-white shadow-md dark:shadow-lg p-2 before:absolute before:-top-2 before:-left-2 before:w-1 before:h-1 before:rounded-full hover:cursor-pointer before:p-2.5 before:text-xs
      before:bg-white before:border before:border-gray-200 
      before:flex before:justify-center before:items-center 
      dark:before:border-gray-700  dark:before:bg-gray-800
      before:text-gray-500 before:content-['✕'] dark:before:content-['✕'] before:opacity-0 hover:before:opacity-100 hover:before:content-['✕'] before:transition before:duration-[400ms] active:before:text-surfer dark:before:text-gray-300 backdrop-filter backdrop-blur-sm;
}

.s_btn_register {
  @apply px-5 py-2 text-indigo-800 dark:text-indigo-100 bg-white dark:bg-gray-800 dark:hover:bg-indigo-800 rounded-full shadow-xl hover:shadow font-extrabold transition duration-300;
}

.s_modal {
  @apply inline-block px-5 py-2 my-8 overflow-hidden text-left align-middle transition-all transform bg-white shadow-xl rounded-lg backdrop-filter backdrop-blur-3xl dark:bg-opacity-80 dark:bg-gray-900;
}

.s_btn_close {
  @apply rounded-full transition duration-150 p-2 text-gray-500 hover:text-surfer focus-visible:ring-2 focus-visible:ring-surfer focus-visible:ring-opacity-75;
}

.s_contrast {
  @apply text-black font-extrabold font-sans;
}

@layer components {
  .navBtn {
    @apply hidden h-6 md:inline-flex sm:space-x-3 cursor-pointer hover:scale-125 transition-all duration-150 ease-out;
  }
}

.s_btn_item_small {
  @apply flex items-center justify-between text-[13px] py-1 px-3 hover:bg-gray-100 text-gray-700 dark:hover:bg-gray-800 dark:text-gray-400 space-x-1 transition duration-300;
}

.s_btn_primary {
  @apply px-4 py-2 rounded-full text-white font-semibold text-sm shadow bg-gradient-to-tr from-indigo-500 to-blue-400 dark:to-blue-600 hover:shadow-lg transform active:scale-95 transition duration-300;
}

.s_btn_secondary_rounded {
  @apply p-1 border border-gray-300 dark:border-gray-700 text-gray-500 bg-gray-100 bg-opacity-90 dark:bg-gray-800 dark:hover:bg-gray-900 hover:bg-gray-200 rounded-full transition duration-300
}
.s_label {
  @apply text-sm text-gray-800 dark:text-gray-50
}